body {
  background-color: rgb(255, 242, 240);
  font-family: Tahoma, sans-serif;
  padding: 40;
}

h1 {
  text-align: center;
  font-family: Tahoma, sans-serif;
}

table, td, th {
  border: 1, solid black;
}

th {
  color: rgb(235, 64, 52);
}
